.Login {
    color: rgb(121, 134, 0);
    width: 500px;
    margin: auto;
}

.Login h4 {
    font-size: 2rem;
}

.Login form {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.Login input {
    border: 1px solid rgb(53, 53, 53);
    outline: none;
    border-radius: 25px;
    margin-bottom: 5px;
    padding: 5px 10px;
    font-size: 1.2rem;
}

.Login input.Btn {
    background-color: rgb(198, 137, 255);
    border: none;
}

@media only screen and (max-width: 500px) {
    .Login {
        width: 80%;
    }
}